<nav class="navbar navbar-expand-lg" [class.scrolled]="isScrolled">
    <div class="container">
      <a class="logo" routerLink="/">BRAHIMI <span>Thiziri</span></a>
      <!-- Menu de navigation -->
      <div class="collapse navbar-collapse">
        <ul class="nav-links">
          <li><a routerLink="/" (click)="navigate('/')">Accueil</a></li>
          <li><a routerLink="/projects" (click)="navigate('/projects')">Projets</a></li>
          <li><a routerLink="/about" (click)="navigate('/about')">À Propos</a></li>
          <li><a routerLink="/contact" (click)="navigate('/contact')">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  