<div class="hero-section">
    <div class="hero-content">
      <h2 class="name-title fade-in">BRAHIMI Thiziri</h2>
      <h1 class="fade-in">Bienvenue sur <span>mon Portfolio</span></h1>
      <p class="animated-text fade-in delay"></p>
      <p class="fade-in delay">
        Découvrez mon univers, où chaque ligne de code raconte une histoire et chaque projet est une nouvelle aventure.
      </p>
      <button class="btn-custom" (click)="goToProjects()">Voir mes projets</button>
    </div>
    <div class="hero-image fade-in delay">
        <img src="photo.jpg" alt="Ma photo" class="profile-pic">



    </div>
  </div>
  